body {
    background-image: url("https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100%;
            background-attachment: fixed;
}

h1{
    color: #ff3838;
    text-align: center;
    padding: 30px;
    font-size: 60px;
    font-family: 'Merienda', cursive;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.questions{
    color: #ff3838;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    font-family: 'Playfair Display SC', serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}

.answer{
    color: #ff3838;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);       
}

hr{
    border: solid red 2px;    
}

.ipt1{
    width:150px;
}

.ipt2{
    width:150px;
}

#btn1{
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    border: groove 4px red;
    border-radius:10px;    
}

.btn2{
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    border: groove 4px red;
    border-radius:10px;    
}

#sur {
    height: 1570px;
    width: 850px;
    margin: 0 auto;
    background-color: #bdc3c7;
    opacity: 0.9;
    border: solid 5px red;
    text-align: center;
    border-radius: 10px;
    border: ridge 6px red;
    font-family: 'Charmonman', cursive;
}

.opt{
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    /*color:red;*/
}

.opt2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    /*color:red;*/
}

.opt3{
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    /*color:red;*/
}

.opt4{
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    /*color:red;*/
}

.opt5{
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    /*color:red;*/
}